/*
Author: Hector F. Tobon R. - Decision and Policy Analysis (DAPA) - CIAT
*/

/******************************************
 STYLE - CWR SPECIES LIST
*******************************************/

#content-wrap #title {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    text-align: center;
}